/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 15px;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.welcome {
  font-size: 17px;
  font-weight: 500;
}

/* .logo {
  height: ;
} */

.connect_btn {
  position: relative;
  text-align: center;
  outline: none;
  text-decoration: none;
  justify-content: center;
  font-size: 16px;
  width: 200px;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  background-color: #dddcdc;
  color: #808080;
  border: none;
  z-index: 15;
}

.connect_btn:hover {
  color: #cacaca;
}

.hidden {
  display: none;
}

.login {
  position: absolute;
  top: 40px;
  width: 200px;
  height: auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.9);
  border-radius: 3px 0 3px 3px;
  text-align: center;
  z-index: 0;
}

.login__input {
  display: block;
  border: none;
  padding: 4px 15px;
  font-size: 13px;
  font-family: inherit;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 10rem;
  margin-top: 3px;
  margin-right: 8px;
  border: 1px solid rgb(240, 240, 240);
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.login__btn {
  border: none;
  background: none;
  font-size: 17px;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}
